<%- include('partials/header') %>

  <main>
    <h1>Welcome to Our Website</h1>
    <p>This is the home page. We are glad to have you here!</p>
    <p>Explore our site using the navigation above.</p>
  </main>

<%- include('partials/footer') %>
